.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Rplots.pdf
src/*.o
src/*.so
src/*.dll
inst/toy_example/v1/
inst/toy_example/*.RData
inst/toy_example/*.pdf
inst/toy_example/*.tex
inst/biased_data/v1/
inst/biased_data/*.RData
inst/biased_data/*.pdf
inst/epidemio/v1/
inst/epidemio/*.RData
inst/epidemio/*.pdf
inst/epidemio/*.rds
inst/causal/v1/
inst/causal/*.pdf
inst/causal/*.rds
inst/causal/*.RData
inst/*.rds
